{% extends 'bootstrap/base.html' %}

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>Home - News Highlight</title>
  {% endif %}

  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>

</head>
<body>
  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock %}
  
  {% block content %}

  {% endblock %}
</body>
</html>
